/**
  Colors
  _TAB  / Table of Contents
  -------
  _GEN  / Generic

  @author Nicolas Husson <hello@nusson.ninja>
*/

//===========/----------------------------------------------
//  [_GEN]  /  Generic
//=========/------------------------------------------------
_c-black = #333
_c-white = #fff
_c-cream = #EEE

_c-drark_medium = #ccc
