/**
  Variables
  _TAB  / Table of Contents
  -------
  _GEN  / Generic

  @author Nicolas Husson <hello@nusson.ninja>
*/

//===========/----------------------------------------------
//  [_GEN]  /  Generic
//=========/------------------------------------------------
_w_sidebar  = 320px
