/*
 *  Contact form style
 *
 *  @author Nicolas Husson <hello@nusson.ninja>
 */

//===========/----------------------------------------------
//  [_VAR]  /  Vars (default if no config)
//=========/------------------------------------------------

//===========/----------------------------------------------
//  [_GEN]  /  Generic
//=========/------------------------------------------------
