/*
 * 	Main interface styles
 *	(main layout...)
 *
 *	@author Nicolas Husson <hello@nusson.ninja>
 */
// edit()


#wpadminbar
  display none
 
meyer-reset()

body
  background-color _c-cream
  //background-color red